<style>body {
  overflow-x: hidden;
  font-family: sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('https://imgur.com/GsP0HNn.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.c-loader {
  animation: is-rotating 1s infinite;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 6px solid #ced4da;
  border-top-color: #0b3e7b;

}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}

section {
  padding-inline: 2%;
}

form {
  background-color: #fff;
  max-width: 1200px;
  height: 100%;
}


h1 {
  padding-top: 10px;
  font-size: 20px;
  text-align: center;
}

select {
  border: none;
  outline: none;
  height: calc(1.5em + 0.75rem + 2px);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.fileUpload {
  position: relative;
  overflow: hidden;
}

#file {
  width: 100%;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

#btn {
  text-transform: uppercase;
  width: 100%;
  background-color: #0b3e7b;
  color: #fff;
  border: none;
  border-radius: 4px;
  height: calc(1.5em + 0.75rem + 2px);
  transition: .3s;
}

#btn:hover {
  background-color: #0e8230;
}

/* MODAL SIM E NÃO */

#modalYesNo {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  border: 1px solid #ced4da;
  width: 300px;
  padding: 20px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  background-color: #fff;
}

#btnYes {
  width: 45%;
  border: none;
  border-radius: 4px;
  padding-block: 5px;
  color: #fff;
  background-color: #0e8230;
}

#btnNo {
  width: 45%;
  border: none;
  border-radius: 4px;
  padding-block: 5px;
  color: #fff;
  background-color: #0b3e7b;
}

/* MODAL SIM E NÃO */

/* MODAL DO OK */

#modalOk {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  border: 1px solid #ced4da;
  width: 300px;
  padding: 20px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  background-color: #fff;
}

/* MODAL DO OK */

#btnOk {
  width: 100%;
  border: none;
  border-radius: 4px;
  padding-block: 5px;
  color: #fff;
  background-color: #0e8230;
}

/* MODAL LOADING */
#loading {
  text-align: center;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  width: 300px;
  padding: 20px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  background-color: #fff;
}





/* MODAL LOADING */
</style>